<!-- app/views/index.html -->
{% if authenticated %}
{% extends "layouts/layout.html" %}
{% else %}
{% extends "layouts/publiclayout.html" %}
{% endif %}


{% set selectedNav = "Guidance" %}
{% set pageName = "Standards forum" %}
{% set pageDescription = "The purpose of the standards forum and how it works." %}

{% block hero %}
    <section class="dfe-page-header dfe-page-header--with-sub-nav">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l  govuk-!-margin-top-5">{{selectedNav}}</span>
                    <h1 class="govuk-heading-xl">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include "partials/_sidenav.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">

        

                <p class="govuk-body">The standards forum supports standard owners to draft, create and publish standards.</p>

                <p class="govuk-body">They do this through the following actions.</p>

                <h3 class="govuk-heading-s">Approving standards</h3>

                <p class="govuk-body">The forum helps to validate the need for any new digital, data and technology standards to support service delivery in DfE.</p>

                <p class="govuk-body">They assess whether standards are written clearly and can be understood.</p>

                <h3 class="govuk-heading-s">Reviewing standards</h3>

                <p class="govuk-body">The forum periodically review existing standards and exemptions. This ensures standards remain current, relevant, and achievable.</p>

                <h2 class="govuk-heading-m">Who is in the forum</h2>

                <p class="govuk-body">Core members include Heads of Profession.</p>
                <p class="govuk-body">General attendees depends on which standards are being reviewed. A review will usually includes profession leads, representatives from the <a href="https://educationgovuk.sharepoint.com/sites/ServiceHealthCheckHub" class="govuk-link">Service Health Check App (DfE intranet)</a> and Deputy Directors (DDs) sponsoring relevant standards.</p>

                <h2 class="govuk-heading-m">Standards forum meetings</h2>

                <p class="govuk-body">The standards forum meet every 2 weeks.</p>

                <p class="govuk-body">The forum are alerted to standards being submitted for review via the email address <a href="https://educationgovuk.sharepoint.com/sites/ServiceHealthCheckHub" class="govuk-link">ddt.standards@education.gov.uk</a>.</p>

                <p class="govuk-body">The minumum number of people in the forum is 2 core members. This includes a Head of Profession and a profession lead relevant to the standards being reviewed.</p>

                <p class="govuk-body">Standards forum agenda:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>review standards</li>
                    <li>review escalated exemptions</li>
                    <li>any other business</li>
                </ul>
                <h3 class="govuk-heading-s">What the forum will review</h3>

                <p class="govuk-body">New standards and any supporting material. Standards must be submitted via <a href="/create">Create and manage standards</a>.</p>

                <p class="govuk-body">Any published standards that need a re-review, as determined by their review date on <a href="https://create-and-manage-standards.education.gov.uk" target="_blank">Find and use standards</a>.</p>

                <h3 class="govuk-heading-s">What the forum will output</h3>

                <p class="govuk-body">Approved standards, with agreements to publish on <a href="https://standards.education.gov.uk" target="_blank">Find and use standards</a>.</p>

                <p class="govuk-body">Recommendations to standards owners for any amendments.</p>

                <p class="govuk-body">Recommendations on standard creation or priority areas.</p>

                <p class="govuk-body">Escalations to Digital, Data, Technology senior leadership team or Design and Delivery Board.</p>

            </div>

        {% endblock %}