{% extends "layouts/layout.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Standards administration" %}
{% set view = "standards" %}

{% block hero %}
    <div class="dfe-page-header">
        <div class="govuk-width-container dfe-width-container ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl govuk-!-padding-top-5 govuk-!-padding-bottom-0">{{pageName}}</h1>
                    <nav class="app-sub-navigation" aria-label="Application menu">
                        <ul class="app-sub-navigation__list">
                            <li class="app-sub-navigation__item">
                                <a class="app-sub-navigation__link" {% if view==='standards' %} aria-current="page" {% endif
                                %} href="/admin">Standards</a>
                            </li>
                            <li class="app-sub-navigation__item">
                                <a class="app-sub-navigation__link" {% if view==='admins' %} aria-current="page" {% endif
                                %} href="/admin/admins">Administrators</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-grid-container">

                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m">
                                <a href="/admin/review" class="govuk-link govuk-link--no-visited-state dfe-card-link--header govuk-!-font-size-80">{{ standards | length}}</a>
                            </h3>
                            <p>Standards requiring review</p>
                        </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m">
                                <a href="/admin/standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header govuk-!-font-size-80">{{countStandards}}</a>
                            </h3>
                            <p>Published standards</p>
                        </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m">
                                <a href="/admin/draft-standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header govuk-!-font-size-80">{{countDraftStandards}}</a>
                            </h3>
                            <p>Draft standards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}