{% extends "layouts/layout.html" %}

{% set selectedNav = "Admin" %}
{% set pageName = "Standards to review" %}
{% set view = "standards" %}

{% block hero %}
    <div class="dfe-page-header">
        <div class="govuk-width-container dfe-width-container ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <a href="/admin" class="govuk-back-link">Back</a>
                    <h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-padding-bottom-0">{{pageName}}</h1>
                    <nav class="app-sub-navigation" aria-label="Application menu">
                        <ul class="app-sub-navigation__list">
                            <li class="app-sub-navigation__item">
                                <a class="app-sub-navigation__link" {% if view==='standards' %} aria-current="page" {% endif
                                %} href="/admin">Standards</a>
                            </li>
                            <li class="app-sub-navigation__item">
                                <a class="app-sub-navigation__link" {% if view==='admins' %} aria-current="page" {% endif
                                %} href="/admin/admins">Administrators</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if standards.length %}
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Title</th>
                                <th class="govuk-table__header" scope="col">Reference</th>
                                <th class="govuk-table__header" scope="col">Version</th>
                                <th class="govuk-table__header" scope="col">Last updated</th>
                                <th class="govuk-table__header" scope="col">Submitted by</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            {% for standard in standards %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <a href="/admin/standard/{{standard.documentId}}" class="govuk-link">{{standard.title}}</a>
                                    </td>
                                    <td class="govuk-table__cell">DDTS-{{standard.standardId}}</td>
                                    <td class="govuk-table__cell">v.{{standard.version}}</td>
                                    <td class="govuk-table__cell">{{standard.updatedAt | date('D MMM YYYY')}}</td>
                                    <td class="govuk-table__cell">{{standard.creator.firstName}}
                                        {{standard.creator.lastName}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>

           

                {% else %}
                    <p class="govuk-body">There are no standards to review.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}