<!-- app/views/index.html -->
{% extends "layouts/layout.html" %}

{% set pageName = 'Standards'%}
{% set selectedNav = 'Admin' %}
{% set pagePath = '/admin/standards' %}


{% block hero %}
    <section class="dfe-page-header dfe-page-header--with-sub-nav">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section class="govuk-!-margin-bottom-0">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h3 class="govuk-summary-card__title">Filters</h3>
                            <ul class="govuk-summary-card__actions">
                                <li class="govuk-summary-card__action">
                                    <a class="govuk-link" href="/standards">Clear</a>
                                </li>
                            </ul>
                        </div>
                        <div class="govuk-summary-card__content">

                            <div class="govuk-form-group">
                                <label id="filterTableLabel" for="filterTable" class="govuk-label govuk-!-font-weight-bold">Keywords</label>
                                <input type="text" id="filterTable" class="govuk-input" aria-describedby="filterTableLabel" />
                            </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Category
                        </legend>
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                        {% for category in categories %}
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="category_{{loop.index}}" name="category" type="checkbox"
                                    value="{{category.slug}}">
                                                <label class="govuk-label govuk-checkboxes__label" for="category_{{loop.index}}">
                                                    {{category.title}}
                                                </label>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </fieldset>
                            </div>

                            <button type="submit" class="govuk-button" data-module="govuk-button" id="applyFilters">Apply filters</button>

                        </div>
                    </div>

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">All published standards</h1>
                    <p id="count"></p>

                    {% if standards | length %}

                        <style>
                            .search-results {
                                margin: 20px auto;

                            }
                            .search-results__item {
                                border-top: 1px solid #b1b4b6;
                                padding-bottom: 15px;
                            }

                            .search-results__header {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 1rem;
                            }

                            .search-results__title {
                                font-size: 1.2rem;
                                font-weight: bold;
                                flex: 1;
                                /* Allows title to take available space */
                            }

                            .search-results__standard-id {
                                font-size: 1rem;
                                white-space: nowrap;
                                /* Prevents breaking to a new line */
                            }

                            .search-results__categories {
                                font-size: 1rem;
                                color: #6f777b;
                            }

                            .govuk-tag--grey {
                                color: #282d30 !important;
                                background-color: #e5e6e7;
                                color: #fff;
                                padding: 5px 10px;
                                margin-top: -10px;
                                font-weight: bold;
                            }
                            .search-results__item:last-child {
                                border-bottom: none;
                            }
                            .search-results__title {
                                font-size: 20px;
                                font-weight: bold;
                                margin: 0;
                            }
                            .search-results__title a {
                                color: #1d70b8;
                                text-decoration: none;
                            }
                            .search-results__title a:hover {
                                text-decoration: underline;
                            }
                            .search-results__meta {
                                font-size: 1rem;
                                color: #505a5f;
                            }
                            .search-results__categories {
                                font-size: 1rem;
                                color: #6f777b;
                                margin-top: 5px;
                            }
                            .search-results__categories-tag {
                                font-size: 1rem;
                            }
                        </style>
                        <div id="standardsTable" class="search-results">
                            {% for standard in standards %}
                                <div class="search-results__item govuk-!-padding-bottom-3" 
         data-category="{% for category in standard.categories %}{{ category.slug }}{% if not loop.last %},{% endif %}{% endfor %}">

                                    <div class="search-results__header">
                                        <p class="search-results__title govuk-!-margin-bottom-0  govuk-!-margin-top-2">
                                            <a href="/admin/standard/{{ standard.documentId }}" class="govuk-link govuk-link--no-visited-state">
                                                {{ standard.title or "New" }}
                                            </a>
                                        </p>
                                        <span class="govuk-tag govuk-tag--grey search-results__standard-id">
                DDTS-{{standard.standardId}}
                                        </span>
                                    </div>

                                    <p class="search-results__categories govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                                        {% for category in standard.categories %}
                                            {{ category.title }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            {% endfor %}

                            <nav class="govuk-pagination govuk-!-margin-top-5" aria-label="Pagination" id="paginationControls">
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link" href="#" id="prevPage" rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
                                        </span>
                                    </a>
                                </div>
                                <ul class="govuk-pagination__list" id="paginationPages">

                                    <!-- Pages will be dynamically inserted here -->
                                </ul>
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link" href="#" id="nextPage" rel="next">
                                        <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
                                        </span>
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </nav>

                        </div>

                        <div id="noResultsMessage" style="display: none;">

                            <p>There are no results for the selected filter.</p>
                        </div>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const filterInput = document.getElementById("filterTable");
            const checkboxes = document.querySelectorAll("input[name='category']");
            const applyFiltersButton = document.getElementById("applyFilters");
            const table = document.getElementById("standardsTable");
            const noResultsMessage = document.getElementById("noResultsMessage");
            const tableItems = Array.from(document.querySelectorAll(".search-results__item"));
            const paginationPages = document.getElementById("paginationPages");
            const prevPageBtn = document.getElementById("prevPage");
            const nextPageBtn = document.getElementById("nextPage");
            const countElement = document.getElementById("count");

            let itemsPerPage = 10;
            let currentPage = 1;
            let filteredItems = [];

            function updateCount() {
                const searchTerm = filterInput
                    .value
                    .trim();
                const selectedCategories = Array
                    .from(checkboxes)
                    .filter(cb => cb.checked)
                    .map(cb => cb.nextElementSibling.textContent.trim());

                let countText = `${filteredItems.length} result${filteredItems.length === 1
                    ? ""
                    : "s"} found`;

                if (searchTerm || selectedCategories.length) {
                    let filtersText = "";

                    if (searchTerm) {
                        filtersText += ` Keywords: "<strong>${searchTerm}</strong>"`;
                    }

                    if (selectedCategories.length) {
                        filtersText += ` Categories: <strong>${selectedCategories.join(", ")}</strong>`;
                    }

                    countText += ` | Active filters: ${filtersText}`;
                }

                countElement.innerHTML = countText;
            }

            function updatePagination() {
                paginationPages.innerHTML = '';
                const totalPages = Math.ceil(filteredItems.length / itemsPerPage);

                for (let i = 1; i <= totalPages; i++) {
                    let pageItem = document.createElement("li");
                    pageItem.className = `govuk-pagination__item ${i === currentPage
                        ? 'govuk-pagination__item--current'
                        : ''}`;
                    pageItem.innerHTML = `
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page ${i}" data-page="${i}">
                        ${i}
                    </a>
                `;
                    paginationPages.appendChild(pageItem);
                }

                prevPageBtn.parentElement.style.display = currentPage === 1
                    ? "none"
                    : "block";
                nextPageBtn.parentElement.style.display = currentPage === totalPages || totalPages === 0
                    ? "none"
                    : "block";
            }

            function showPage(page) {
                const start = (page - 1) * itemsPerPage;
                const end = start + itemsPerPage;

                tableItems.forEach(item => {
                    item.style.display = "none";
                });

                filteredItems
                    .slice(start, end)
                    .forEach(item => {
                        item.style.display = "block";
                    });

                currentPage = page;
                updatePagination();
                updateCount();
            }

            function applyFilters() {
                const searchTerm = filterInput
                    .value
                    .toLowerCase()
                    .trim();
                const selectedCategories = Array
                    .from(checkboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                filteredItems = tableItems.filter(item => {
                    const itemCategories = item
                        .getAttribute("data-category")
                        .split(",");
                    const itemText = item
                        .textContent
                        .toLowerCase();

                    const matchesKeyword = searchTerm === "" || itemText.includes(searchTerm);
                    const matchesCategory = selectedCategories.length === 0 || selectedCategories.some(category => itemCategories.includes(category));

                    return matchesKeyword && matchesCategory;
                });

                if (filteredItems.length > 0) {
                    table.style.display = "block";
                    noResultsMessage.style.display = "none";
                } else {
                    table.style.display = "none";
                    noResultsMessage.style.display = "block";
                }

                currentPage = 1; // Reset to first page on filter
                showPage(currentPage);
            }

            // Pagination button event handlers
            prevPageBtn.addEventListener("click", function (event) {
                event.preventDefault();
                if (currentPage > 1) {
                    showPage(currentPage - 1);
                }
            });

            nextPageBtn.addEventListener("click", function (event) {
                event.preventDefault();
                if (currentPage < Math.ceil(filteredItems.length / itemsPerPage)) {
                    showPage(currentPage + 1);
                }
            });

            paginationPages.addEventListener("click", function (e) {
                if (e.target.tagName === "A") {
                    e.preventDefault();
                    const newPage = parseInt(e.target.getAttribute("data-page"));
                    showPage(newPage);
                }
            });

            // Debounce function for search input
            function debounce(func, delay) {
                let timer;
                return function (...args) {
                    clearTimeout(timer);
                    timer = setTimeout(() => func.apply(this, args), delay);
                };
            }

            const debouncedFilter = debounce(applyFilters, 300);

            filterInput.addEventListener("input", debouncedFilter);
            checkboxes.forEach(checkbox => checkbox.addEventListener("change", applyFilters));
            applyFiltersButton.addEventListener("click", function (event) {
                event.preventDefault();
                applyFilters();
            });

            // Initial display
            applyFilters();
        });
    </script>

{% endblock %}