<div class="govuk-summary-card" id="summary" >
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
      Edit summary
    </h2>
        <ul class="govuk-summary-card__actions">

            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/standards/standard/manage/{{standard.documentId}}">Cancel edit<span class="govuk-visually-hidden"> of summary content</span></a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        {% include './errorSummary.html' %}

        <form action="/standard/editor/summary" method="post">
            <input type="hidden" name="documentId" value="{{ standard.documentId }}">
            
            <div class="govuk-form-group govuk-character-count {% if errors %} govuk-form-group--error{% endif %}" data-module="govuk-character-count" data-maxlength="200">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="summary-hint">
               Summary
            </label>
                </h2>
                <div id="summary-hint-hint" class="govuk-hint">
           A short description of the standard. Used in search results and to help people understand the standard at a high level.
          </div>
                {% if errors %}
                    <p id="event-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {% for err in errors %}
                            {{ err.msg }}
                        {% endfor %}
                    </p>
                {% endif %}
                <textarea class="govuk-textarea govuk-js-character-count {% if errors %} govuk-input--error{% endif %}" id="summary" name="summary" rows="3" aria-describedby="summary-hint-info summary-hint-hint">{{ standard.summary }}</textarea>
                <div id="summary-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 200 characters
          </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
            </div>
        </form>
    </div>
</div>