<h2 class="govuk-heading-l">Formatting</h2>
<h3 class="govuk-heading-m">Headings and subheadings</h3>
<p class="govuk-body">Use 2 hash symbols followed by a space for a heading, for example:</p>
<pre class="formatting-example"><code class="lang-md">## This is a heading</code></pre>
<p class="govuk-body">To add a subheading, use 3 hash symbols:</p>
<pre class="formatting-example"><code class="lang-md">### This is a subheading</code></pre>
<p class="govuk-body">Try and avoid going beyond 3 levels of headings.</p>
<h3 class="govuk-heading-m">Bullet points</h3>
<p class="govuk-body">Use bullet points to help words or phrases stand out in your standard.</p>

<!-- TEMPLATED BULLET POINTS -->
<p class="govuk-body">Copy this example to add bullet points:</p>
<pre class="formatting-example"><code class="lang-md">Introduce bullet points with a lead-in line ending in a colon:

* leave one empty line space after the lead-in line
* use an asterisk or a dash followed by a space to add an item
* start each item with a lowercase letter, do not end with a full stop
* leave one empty line space after the last item
</code></pre>

<p class="govuk-body"> You can not have sub bullet points in a list as this makes content harder to read.</p>


<p class="govuk-body">There’s more <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps"  class="govuk-link" target="_blank">guidance about bullet
            points on GOV.UK</a>.
         </p>
<h3 class="govuk-heading-m">Numbered steps</h3>
<p class="govuk-body">
            Copy this example to add numbered steps:
         </p>
<pre class="formatting-example"><code class="lang-md">1. Leave one empty line space before starting your list.
2. Enter a number followed by a full stop and a space to add an item.
3. Start each item with a capital letter and end it with a full stop.
4. Leave one empty line space after the last item.
</code></pre>

<p class="govuk-body"> You can not have sub number lists as this makes content harder to read.</p>


<h3 class="govuk-heading-m">Inset text</h3>
<p class="govuk-body">
            To add <a href="https://design-system.service.gov.uk/components/inset-text/" class="govuk-link  govuk-link--no-visited-state" target="_blank">inset text<span class="govuk-visually-hidden"> (opens in new tab)</span></a>, use a greater than <code>></code> followed by a space. For example:
         </p>
<pre class="formatting-example"><code class="lang-md">> You must tell us if your circumstances change.
</code></pre>

<p>If you need multiple lines of content in an inset text, use the greater than symbol on each line, even for empty lines:</p>

<pre class="formatting-example"><code class="lang-md">> You must tell us if your circumstances change.
> 
> You can do this by calling us on 0800 123 4567.
> You can also email us at [info@example.com](mailto:info@example.com)
</code></pre>

<p>Leave a clear line before and after the inset text to make it stand out.</p>

<h3 class="govuk-heading-m">Links and URLs</h3>

<p class="govuk-body">
            To convert text into a link, use square brackets around the link text and round brackets around the full URL. Make sure there are no spaces between the brackets or the link will not work. For example:
         </p>
<pre class="formatting-example"><code class="lang-md">[Additional guidance for standards](https://www.gov.uk/example)
</code></pre>
