{% extends "layouts/layout.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Governance" %}
{% set seoPageName = "" %}
{% set pageDescription = "" %}
{% set sidenav = 'governance' %}

{% block hero %}
    {% include './_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include './_sidenav.html' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% include './errorSummary.html' %}

                 <form action="/create/governance" method="post" >

        <div class="govuk-form-group govuk-character-count {% if errors %} govuk-form-group--error{% endif %}" data-module="govuk-character-count" data-maxlength="5000">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="governance">
              {{pageName}}
            </label>
          </h2>
          <div id="governance-hint-hint" class="govuk-hint">
    Explain how will you ensure this standard remains relevant and up-to-date. This information is only used as part of the review by the standards forum. It is not published.
  </div>
        
           {% if errors %}
            <p id="event-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
                {% for err in errors %}
                                        {{ err.msg }}
                                    {% endfor %}
            </p>
          {% endif %}
          <textarea class="govuk-textarea govuk-js-character-count {% if errors %} govuk-input--error{% endif %}" id="governance" name="governance" rows="15" aria-describedby="governance-info governance-hint-hint">{{standard.governance}}</textarea>
          <div id="governance-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 5,000 characters
  </div>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

        </div>
      </form>

        {% include './_markdown.html' %}
            </div>
        </div>
    </div>
{% endblock %}