{% extends "layouts/layout.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "How to meet" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}
{% set sidenav = 'meet' %}

{% block hero %}
    {% include './_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include './_sidenav.html' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% include './errorSummary.html' %}

                <form action="/create/how-to-meet" method="post">
                    <div class="govuk-form-group govuk-character-count {% if errors %}govuk-form-group--error{% endif %}" data-module="govuk-character-count" data-maxlength="10000">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="meet">
                                {{pageName}}
                            </label>
                        </h2>
                        <div id="meet-hint" class="govuk-hint">
                Include all the requirements for this standard. Detail the actions a team must take to meet the standard. Include links to guidance and support if needed
              </div>
                        {% include './_markdown.html' %}
                        {% if errors %}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {% for err in errors %}
                                    {{ err.msg }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        <textarea class="govuk-textarea govuk-js-character-count {% if errors %} govuk-input--error{% endif %}" id="meet" name="meet" rows="30" aria-describedby="meet-info meet-hint">{{standard.howToMeet}}</textarea>
                        <div id="meet-info" class="govuk-hint govuk-character-count__message">
   You can enter up to 10,000 characters. 
  </div>
                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
Save and continue
  </button>

                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}