{% extends "layouts/layout.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Purpose" %}
{% set seoPageName = "" %}
{% set pageDescription = "" %}
{% set sidenav = 'purpose' %}

{% block hero %}
    {% include './_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include './_sidenav.html' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% include './errorSummary.html' %}

                <form action="/create/purpose" method="post" >

                    <div class="govuk-form-group govuk-character-count {% if errors %} govuk-form-group--error{% endif %}" data-module="govuk-character-count" data-maxlength="2000">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="purpose">
                                {{pageName}}
                            </label>
                        </h2>
                        <div id="purpose-hint-hint" class="govuk-hint">
    Describe why this standard is important.
  </div>

                        {% if errors %}
                            <p id="event-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {% for err in errors %}
                                    {{ err.msg }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        <textarea class="govuk-textarea govuk-js-character-count {% if errors %} govuk-input--error{% endif %}" id="purpose" name="purpose" rows="10" aria-describedby="purpose-info purpose-hint-hint">{{standard.purpose}}</textarea>
                        <div id="purpose-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 2,000 characters
  </div>
                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

                    </div>
                </form>
                {% include './_markdown.html' %}
            </div>
        </div>
    </div>
{% endblock %}