{% extends "layouts/layout.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Remove product" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}

{% set sidenav = 'people' %}
{% set view = "standard" %}

{% block hero %}
    {% include './_head.html' %}
{% endblock %}


{% block content %}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include './_sidenav.html' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% include './errorSummary.html' %}

                <form action="/create/person/remove" method="post">

                    <input type="hidden" name="personDocumentId" value="{{ person.documentId }}">
                    <input type="hidden" name="personType" value="{{ t }}">

                    <h1 class="govuk-heading-l">Remove {% if t == 'o' %}owner{% else %}contact{% endif %} from this standard</h1>

                   <p class="govuk-body">Confirm you want to remove the following person from this standard.</p>


                    <div class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ person.firstName }} {{ person.lastName }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email</dt>
                            <dd class="govuk-summary-list__value">{{person.email}}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Job role</dt>
                            <dd class="govuk-summary-list__value">{{person.JobRole}}</dd>
                        </div>
                    </div>
             

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                        Delete {% if t == 'o' %}owner{% else %}contact{% endif %} from standard
                    </button>
                     <a class="govuk-link" href="/create/people">Cancel and return to people</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

