{% extends "layouts/layout.html" %}

{% set selectedNav = "Create" %}
{% set pageName = "Validity" %}
{% set seoPageName = "" %}
{% set pageDescription = ""%}

{% set sidenav = 'validity' %}
{% set view = "standard" %}

{% block hero %}
    {% include './_head.html' %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include './_sidenav.html' %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% include './errorSummary.html' %}

                <form action="/create/validity" method="post">

                    <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" aria-describedby="validity-hint">
            <h1 class="govuk-fieldset__heading">
              {{pageName}}
            </h1>
          </legend>
          <div id="signIn-hint" class="govuk-hint">
      This is the period of time after which a service will have to confirm it still meets the standard.
    </div>
          {% if errors %}
            <span class="govuk-error-message">Select an option</span>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity" name="validity" type="radio" value="1" {% if standard.validityPeriod == "1" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity">
                                    Every month
                                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-2" name="validity" type="radio" value="3" {% if standard.validityPeriod == "3" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-2">
                                    Every 3 months
                                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-3" name="validity" type="radio" value="6" {% if standard.validityPeriod == "6" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-3">
                                   Every 6 months
                                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-4" name="validity" type="radio" value="12" {% if standard.validityPeriod == "12" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-4">
                                   Every 12 months
                                </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-5" name="validity" type="radio" value="18" {% if standard.validityPeriod == "18" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-5">
                                    Every 18 months
                                </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-6" name="validity" type="radio" value="24" {% if standard.validityPeriod == "24" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-6">
                                    Every 2 years
                                </label>
            </div>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="validity-7" name="validity" type="radio" value="0" {% if standard.validityPeriod == "0" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="validity-7">
                                   Valid indefinitely
                                </label>
              <div id="validity-7-item-hint" class="govuk-hint govuk-radios__hint">
         A service will only have to confirm validity once.
        </div>
            </div>
          </div>
        </fieldset>
      </div>
                  
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}