{% extends "layouts/layout.html" %}

{% set selectedNav = "Compliance" %}
{% set pageName = "Compliance" %}

{% block hero %}
    <div class="dfe-page-header">
        <div class="govuk-width-container dfe-width-container ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl govuk-!-padding-top-5">{{pageName}}</h1>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

           
                <p class="govuk-body">Compliance reporting is not yet available in this product.</p>

                <p class="govuk-body">You can report compliance in the <a href="" class="govuk-link">Service health check app</a>.</p>
             

            </div>
        </div>
    </div>
</div>
{% endblock %}