<!-- app/views/index.html -->
{% extends "layouts/layout.html" %}

{% set pageName = 'Support' %}
{% set selectedNav = 'Support' %}
{% set pagePath = '/support' %}

{% block content %}

    <section class="govuk-!-margin-bottom-0">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-l">Support</h1>

                    <p class="govuk-body">You can get help and support in the following ways:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>Post a message in the <a href="https://ukgovernmentdfe.slack.com/archives/C085PQP0JCC" target="_blank" class="govuk-link">#standards</a> channel on DfE Slack</li>
                        <li>Email the standards forum at <a href="mailto:ddt.standards@education.gov.uk" target="_blank" class="govuk-link">ddt.standards@education.gov.uk</a>
                        </li>
                    </ul>

                    <h2 class="govuk-heading-m">Standards forum</h2>

                    <p class="govuk-body">The standards forum is a group of people from across the DDT directorate including leads and heads of profession.</p>

                    <p class="govuk-body">The forum meets regularty to discuss and agree standards, and supports people wanting to develop standards with advice and guidance. </p>

                </div>

                <div class="govuk-grid-column-one-quarter"></div>
            </div>
        </div>
    </section>

{% endblock %}