{% if user.Administrator === true %}

  {{ header({
  "showNav": "true",
  "showSearch": "false",
  "showHeaderActionLinks": "true",
  "showUserName": "false",
  "userName": "",
  "userNameURL": "",
  "selectedNav": selectedNav,
  "logoPath": "assets/images",
  "searchInputName": "searchterm",
  "logoAltText": serviceName,
  "homeHref": "https://manage-standards.education.gov.uk",
  "service": {
    "name": serviceName,
    "serviceUrl": "/"
  },
  "headerActionLinks": [
    { "url": "/profile/name", "label": "Profile" },
    { "url": "/sign-out", "label": "Sign out" }
  ],
  "primaryLinks": [
    {
      "url": "/dashboard",
      "label": "Dashboard"
    },
    {
      "url": "/create",
      "label": "Create"
    },
    {
      "url": "/compliance",
      "label": "Compliance"
    },
    {
      "url": "/admin",
      "label": "Admin"
    },
{
"url" : "/guidance",
"label" : "Guidance"
}
  ]
}) }}

{% else %}
  {{ header({
  "showNav": "true",
  "showSearch": "false",
  "showHeaderActionLinks": "true",
  "showUserName": "false",
  "userName": "",
  "userNameURL": "",
  "selectedNav": selectedNav,
  "logoPath": "assets/images",
  "searchInputName": "searchterm",
  "logoAltText": serviceName,
  "homeHref": "https://manage-standards.education.gov.uk",
  "service": {
    "name": serviceName,
    "serviceUrl": "/"
  },
  "headerActionLinks": [
    { "url": "/profile/name", "label": "Profile" },
    { "url": "/sign-out", "label": "Sign out" }
  ],
  "primaryLinks": [
    {
      "url": "/dashboard",
      "label": "Dashboard"
    },
    {
      "url": "/create",
      "label": "Create"
    },
    {
      "url": "/compliance",
      "label": "Compliance"
    },
{
"url" : "/guidance",
"label" : "Guidance"
}
  ]
}) }}
{% endif %}